html, body{
    font-family: Calibri;
}
.flex_container{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    background-color: white;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left; 
}
.flex_item first-item {
    top: 0px;
    right: 0px;
    text-align: center;
    color: white;
    width:30%;
    height:60%;
    background-color: teal;
    padding: 0%;
    border: 0px;
    margin: 0px;
    flex-grow: 1     
}
.flex_item second-item {
    top: 300px;
    right: 0px;
    text-align: center;
    color: white;
    width: 30%;
    height: 40%;
    background-color: turquoise;
    padding: 0%;
    border: 0px;
    margin: 0px;
    flex-grow: 2;
}
