html, body {
    font-family: Calibri;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
.grid_container {
    background-color: #ffffff;
    border: 2px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.grid-item first-item {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  padding: 2px;
  width: 70%;
  height: 70%;
  text-align: left;
  }

.grid-item second-item {
  background-color: #008b8b;
  border: 2px solid #008b8b;
  padding: 2px;
  width: 40%;
  height: 70%;
  text-align: left;
  }
.grid-item third-item {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0px;
  width: 70%;
  height: 30%;
  text-align: center;
}
.grid_item fourth-item {
  background-color: #00ffff;
  border: 2px solid #00ffff;
  padding: 0px;
  width: 40%;
  height: 30%;
  text-align: center;
}