body {
    background-color: beige;
}

html, body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
p{

}
.menu_container{
  display: flex;
  padding: 20px;
  background-color: black;
  font-family: cursive;
  font-weight: 300;
  color: white;
}
.menu_item nav ul{
  display: flex;
}

.menu_item nav ul li a{
  color: white;
  padding: 21px 37px;
  border-radius: 3px;
}

.menu_item nav ul li a:hover{
  background-color: yellow;
  color: blue;
}

.menu_item{
  flex: 1;
}
