@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.container {
    margin: 10% auto;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.desc {
    background-color: rgb(214, 214, 214);
    padding: 2%;
    height: auto;
    grid-column: 1 / 7;
    grid-row: 1 / -1;
}

.info {
    background-color: rgb(155, 229, 229);
    height: auto;
    grid-column: 7 / -1;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info_inner {
    background-color: rgb(1, 219, 219);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

