@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1 {
    color: white;
}

h2 {
    color: darkcyan;
}

h3 {
    color: black;
}

h4 {
    color: gray;
}

p {
    color: black;
    font-size: large;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar-bottom i {
    margin: 10px;
}

#main-div i {
    margin: 15px;
}

#main-div {
    float: left;
    width: 65%;
    height: auto;
    padding: 20px;
}
#sidebar {
    background: linear-gradient(to bottom, rgb(82, 128, 120), rgb(132, 226, 198));
    float: right;
    width: 25%;
    height: 800px;
    border-style: ridge;
    border-width: 5;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .2);
}

.img-holder {
    width: 100%;
    position: relative;
    top: 15px;
}

.sidebar-top {
    text-align: center;
    height: 540px;
}

.sidebar-bottom {
    color: white;
    height: 220px;
    background: linear-gradient(to bottom, rgba(4, 86, 107, 0.884), rgb(31, 145, 180));
    padding: 20px;
}