@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

/******************* navbar *******************/
.navbar {
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0 , 0.7)!important;
    font-family: 'Permanent Marker', cursive;
}

.navbar-brand {
    font-size: x-large!important;
    color: #009fe0!important;
    font-weight: 800;
}

.nav-item .nav-link {
    color: white!important;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #009fe0!important;
}
/******************* end navbar *******************/


/******************* home *******************/
.home-inner {
    background-image: url(../img/python.jpg)!important;
    background-attachment: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.intro {
    
    color: rgb(1, 223, 72);
    font-size: 38px;
    font-weight: 200!important;
    letter-spacing: 3px;
    padding-bottom: 16px;
    font-family: 'Maitree', serif;
    position: absolute;
    text-align: center;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    color: rgb(1, 223, 72)!important;
    border-color: rgb(1, 223, 72)!important;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/******************* end home *******************/

/******************* about *******************/
.pic-holder {
    background-image: url(../img/grad.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: absolute;
    width: 200px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
/******************* end about *******************/

#fixed {
    background-image: url(../img/code.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
}

/******************* education *******************/

/******************* end education *******************/


