    /* PRE DEFINED COLORS for BLACK
        COLOR-0: rgb(244,244,244, 1);
        COLOR-1: rgb(224,224,224, 1);
        COLOR-2: rgb(203,203,203, 1);
        COLOR-3: rgb(182,182,182, 1);
        COLOR-4: rgb(162,162,162, 1);
        COLOR-5: rgb(141,141,141, 1);
        COLOR-6: rgb(120,120,120, 1);
        COLOR-7: rgb(100,100,100, 1);
        COLOR-8: rgb(79,79,79, 1);
        COLOR-9: rgb(59,59,59, 1);
        COLOR-10: rgb(38,38,38, 1);
        COLOR-11: rgb(28,28,28, 1);
        COLOR-12: rgb(25,25,25, 1);
        COLOR-13: rgb(22,22,22, 1);
        COLOR-14: rgb(19,19,19, 1);
        COLOR-15: rgb(16,16,16, 1);
        COLOR-16: rgb(13,13,13, 1);
        COLOR-17: rgb(10,10,10, 1);
        COLOR-18: rgb(7,7,7, 1);
        COLOR-19: rgb(4,4,4, 1);
        COLOR-20: rgb(1,1,1, 1);
    */

html {
    height: 100%;
}

body {
    background: linear-gradient(rgb(1,1,1) 0.0%, rgb(4,4,4), rgb(1,1,1) 100.0%);
}

.title{
    background-color: rgb(255,0,0,.1);
    height: 200px;
    width: 100%;
    display: inline-block;
}

.center-content{
    background-color: rgb(255,255,0,.1);
    height: 800px;
    width: 100%;
}

.section{
    background-color: rgb(255,255,0,.1);
}