/* PRE DEFINED COLORS for BLACK
        COLOR-0: rgb(244,244,244, 1);
        COLOR-1: rgb(224,224,224, 1);
        COLOR-2: rgb(203,203,203, 1);
        COLOR-3: rgb(182,182,182, 1);
        COLOR-4: rgb(162,162,162, 1);
        COLOR-5: rgb(141,141,141, 1);
        COLOR-6: rgb(120,120,120, 1);
        COLOR-7: rgb(100,100,100, 1);
        COLOR-8: rgb(79,79,79, 1);
        COLOR-9: rgb(59,59,59, 1);
        COLOR-10: rgb(38,38,38, 1);
        COLOR-11: rgb(28,28,28, 1);
        COLOR-12: rgb(25,25,25, 1);
        COLOR-13: rgb(22,22,22, 1);
        COLOR-14: rgb(19,19,19, 1);
        COLOR-15: rgb(16,16,16, 1);
        COLOR-16: rgb(13,13,13, 1);
        COLOR-17: rgb(10,10,10, 1);
        COLOR-18: rgb(7,7,7, 1);
        COLOR-19: rgb(4,4,4, 1);
        COLOR-20: rgb(1,1,1, 1);
*/

/* Globals */
* {
    /*https://stackoverflow.com/questions/7008039/css-html5-why-does-my-body-have-a-spacing-at-the-top*/
    margin: 0px;
    padding: 0px;
    border-width: 0px;

    /*https://stackoverflow.com/questions/30489594/prevent-100vw-from-creating-horizontal-scroll/30504010*/
    box-sizing: border-box; 
}

html {
    height: 100vh;
    width: 100vw;
    background: pink;
    text-align: center;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(1, 1, 1) 0.0%, rgb(4, 4, 4), rgb(1, 1, 1) 100.0%);
    padding: 0px;
}

/* Start Title Stuff */

.title {
    background-color: rgb(255, 0, 0, .1);
    height: 10vh;
    width: 100vw;
    display: inline-block;
    text-align: center;
}

.title-text {}

#name-title {
    font-size: 6vh;
    color: white;
}

#portfolio-title {
    font-size: 2vh;
    color: white;
}

/* End Title Stuff */

/* Start Center Stuff */

.center-content {
    background-color: rgba(255, 255, 0, .1);
    height: 90vh;
    width: 100vw;
}

.section{
    background-color: rgba(255,255,255, .5);
    padding: 0;
    border-width: 0;
    height: 90vh;
    width: 33.3333333333333333vw;
}

#left-section{
    float: left;
    background-color: rgba(200, 190, 50, 0.7);
}

#center-section{
    float: left;
    background-color: rgba(200, 85, 50, 0.8);
}

#right-section{
    float: right;
    background-color: rgba(50,200,50, .5);
}

.icon{
    height: 5vh;
    width: 5vh;
}

/* End Center Stuff */